body {
  /* SLIDER */
  /* //-- SLIDER */
  /* VIDEO IFRAME */
}
body .slider-wrapper a {
  text-decoration: none;
}
body .slider-wrapper.hide-slider {
  height: 0;
  overflow-y: hidden;
}
body .slider-wrapper .slider {
  width: 100%;
  margin: 0 auto;
}
body .slider-wrapper .slider .slick-slide {
  margin: 0;
}
body .slider-wrapper .slider .slick-slide img {
  width: 100%;
}
body .slider-wrapper .carousel-featured-slider {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}
body .slider-wrapper .carousel-featured-slider .slider {
  width: 100%;
  margin: 0 auto;
}
body .slider-wrapper .carousel-featured-slider .slider .slick-slide {
  margin: 0;
  position: relative;
}
body .slider-wrapper .carousel-featured-slider .slider .slick-slide img {
  width: 100%;
}
body .slider-wrapper .carousel-featured-slider .video__button {
  background: transparent;
  top: 45%;
  left: 50%;
  position: absolute;
  display: block;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  transform: translateX(-50%) translateY(-50%);
  border: 0;
}
body .slider-wrapper .carousel-featured-slider .video__button span.playme {
  font-size: 65px;
  text-indent: -9999px;
  color: black;
}
@media (min-width: 768px) {
  body .slider-wrapper .carousel-featured-slider .video__button span.playme {
    font-size: 80px;
  }
}
@media (min-width: 992px) {
  body .slider-wrapper .carousel-featured-slider .video__button span.playme {
    font-size: 110px;
  }
}
body .slider-wrapper .carousel-featured-slider .video__button:hover span.playme {
  color: white;
}
body .slider-wrapper .carousel-featured-slider .caption {
  background-color: transparent;
}
body .slider-wrapper .carousel-featured-slider .caption p {
  color: black;
  margin: 0;
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
  padding: 15px 0 10px;
  text-align: center;
  font-size: 16px;
}
@media (min-width: 768px) {
  body .slider-wrapper .carousel-featured-slider .caption p {
    font-size: 18px;
  }
}
body .slider-wrapper .carousel-featured-slider .left-edge {
  left: 0;
}
body .slider-wrapper .carousel-featured-slider .right-edge {
  right: 0;
}
body .slider-wrapper .carousel-featured-slider .left-edge,
body .slider-wrapper .carousel-featured-slider .right-edge {
  position: absolute;
  top: 40%;
  height: 100%;
  z-index: 1;
  cursor: pointer;
  background-color: transparent;
}
body .slider-wrapper .carousel-featured-slider .left-edge .prev-slide,
body .slider-wrapper .carousel-featured-slider .right-edge .prev-slide,
body .slider-wrapper .carousel-featured-slider .left-edge .next-slide,
body .slider-wrapper .carousel-featured-slider .right-edge .next-slide {
  position: relative;
  padding: 0;
  font-size: 28px;
  color: black;
}
body .slider-wrapper .carousel-featured-slider .left-edge:hover .prev-slide,
body .slider-wrapper .carousel-featured-slider .right-edge:hover .prev-slide,
body .slider-wrapper .carousel-featured-slider .left-edge:hover .next-slide,
body .slider-wrapper .carousel-featured-slider .right-edge:hover .next-slide {
  color: white;
}
body .slider-wrapper .carousel-featured-slider ul.slick-dots {
  position: relative;
}
body .slider-wrapper .carousel-featured-slider ul.slick-dots li {
  width: 25px;
  height: 25px;
  margin: 0 3px;
}
body .slider-wrapper .carousel-featured-slider ul.slick-dots li button:before {
  color: #999;
  font-size: 14px;
  line-height: 25px;
  opacity: 1;
}
body .slider-wrapper .carousel-featured-slider ul.slick-dots li button:before:hover {
  color: #999;
}
body .slider-wrapper .carousel-featured-slider ul.slick-dots li.slick-active button:before {
  color: black;
}
body .video-container {
  width: 100%;
  display: none;
  position: relative;
}
body .video-container .close-video {
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px;
  font-size: 25px;
  color: white;
  cursor: pointer;
}
@media (min-width: 768px) {
  body .video-container .close-video {
    font-size: 28px;
    top: 6%;
  }
}
@media (min-width: 1200px) {
  body .video-container .close-video {
    font-size: 35px;
  }
}
body .video {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
